.container {
    display: grid;
    gap:10px;
    margin: 1px auto;
    padding: 20px;
    grid-template-columns: 1fr;
    color:black;
    background-color: lightpink;
}

.col-1{
    display: flex;
    justify-content: center;
    color:black;
    background-color: lightpink;
}

.col-2{
    display: grid;
}

@media only screen and (max-width: 600px) {
    .col-1 {
        grid-template-columns: 1fr;
        margin: 0px auto;
    }
}